@using BigViews
@model IList<User>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Simple Template Renderer sample.</title>
    <style>
        .contact-card {
            border: 1px solid #000000;
        }
    </style>
</head>
<body>
    @if (Model != null)
    {
        var savePrefix = ViewData.TemplateInfo.HtmlFieldPrefix;
        for (var i = 0; i < Model.Count; i++)
        {
            // RenderPartialAsync() does not have enough information to determine full names correctly. Help it out.
            ViewData.TemplateInfo.HtmlFieldPrefix = Html.NameFor(m => m[i]);

            await Html.RenderPartialAsync("_UserWithTagHelpers", Model[i]);

            ViewData.TemplateInfo.HtmlFieldPrefix = savePrefix;
        }
    }

    This is a simple View.
</body>
</html>