@model Product
<html>
<body>
    <section>
        @Json.Serialize(Model, new Newtonsoft.Json.JsonSerializerSettings()
        {
            Formatting = Newtonsoft.Json.Formatting.Indented,
        })
    </section>
</body>
</html>