@using Microsoft.AspNet.Http
@model List<IFormFile>
<html>
<body>
    <section>
        @if (Model != null)
        {
            <ul>
                @foreach (var file in Model)
                {
                    <li>@file</li>
                }
            </ul>
        }
    </section>
    <section>
        <h2>HtmlHelpers</h2>
        @using (Html.BeginForm(FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
        {
            <p>@Html.EditorForModel(templateName: null, htmlFieldName: "files")</p>
            <p><input type="submit" /></p>
        }
    </section>
</body>
</html>